@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

/* Color Theme Swatches in RGBA */
.Design-gráfico-1-rgba { color: rgba(4, 75, 217, 1); }
.Design-gráfico-2-rgba { color: rgba(3, 57, 166, 1); }
.Design-gráfico-3-rgba { color: rgba(34, 145, 242, 1); }
.Design-gráfico-4-rgba { color: rgba(29, 161, 242, 1); }
.Design-gráfico-5-rgba { color: rgba(38, 38, 38, 1); }


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;

}

.container {
    width: 100%;
    height: 100vh;
    background: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: #262626;
    padding: 20px;
    border-radius: 10px;

}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px #f25c0500, 5px 5px 15px rgba(0, 0, 0, 0.438);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;

}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal {
    width:  145px;
}

form input.operator {
    color: #F25C05;
}