@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;     
    background: #0A66C2;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: rgb(255, 255, 255);   

}

header {
    margin-top: 20px; 

}


section {
    text-align: left;
    padding: 10px;
    width: 400px;
    height: auto;
    background: rgb(255, 255, 255);
    color: black;
    border-radius: 10px;
    font-size: 1.5em;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.452);
}

footer {

}